- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: https://__JELLYFIN_HOST__
        description: Media server
    - Jellyseerr:
        icon: jellyseerr.png
        href: https://__JELLYSEERR_HOST__
        description: Requests & approvals for Jellyfin
    - Jellystat:
        icon: jellystat.png
        href: https://__JELLYSTAT_HOST__
        description: Playback stats & activity dashboard
    - Tuliprox:
        icon: mdi-television-classic
        href: https://__TULIPROX_HOST__
        description: IPTV proxy

- Automation:
    - Sonarr:
        icon: sonarr.png
        href: https://__SONARR_HOST__
        description: TV shows automation
    - Radarr:
        icon: radarr.png
        href: https://__RADARR_HOST__
        description: Movies automation
    - Prowlarr:
        icon: prowlarr.png
        href: https://__PROWLARR_HOST__
        description: Indexer manager
    - Profilarr:
        icon: mdi-format-list-bulleted
        href: https://__PROFILARR_HOST__
        description: Profiles/quality automation for Arr apps
    - Cleanuparr:
        icon: mdi-broom
        href: https://__CLEANUPARR_HOST__
        description: Cleanup for Arr libraries

- Downloading:
    - qBittorrent:
        icon: qbittorrent.png
        href: https://__QBITTORRENT_HOST__
        description: Downloader UI

- Monitoring:
    - Homepage:
        icon: mdi-view-dashboard
        href: https://__HOMEPAGE_HOST__
        description: This dashboard
    - AdGuard:
        icon: mdi-shield-check
        href: https://__ADGUARD_HOST__
        description: DNS & ad blocking
    - Proxmox:
        icon: mdi-server
        href: https://__PROXMOX_HOST__:8006
        description: Hypervisor UI
    - Router:
        icon: mdi-router-wireless
        href: http://__ROUTER_HOST__
        description: Gateway admin
