- Media:
    - Jellyfin:
        icon: jellyfin.png
        href: http://__MEDIA_IP__:8096
        siteMonitor: http://__MEDIA_IP__:8096/health
        description: Media server
    - Jellyseerr:
        icon: jellyseerr.png
        href: http://__MEDIA_IP__:5055
        siteMonitor: http://__MEDIA_IP__:5055
        description: Requests & approvals for Jellyfin
    - Jellystat:
        icon: jellystat.png
        href: http://__MEDIA_IP__:4001
        siteMonitor: http://__MEDIA_IP__:4001
        description: Playback stats & activity dashboard
    - Tuliprox:
        icon: mdi-television-classic
        href: http://__MEDIA_IP__:8901/
        siteMonitor: http://__MEDIA_IP__:8901/
        description: IPTV proxy

- Automation:
    - Sonarr:
        icon: sonarr.png
        href: http://__MEDIA_IP__:8989
        siteMonitor: http://__MEDIA_IP__:8989
        description: TV shows automation
    - Radarr:
        icon: radarr.png
        href: http://__MEDIA_IP__:7878
        siteMonitor: http://__MEDIA_IP__:7878
        description: Movies automation
    - Prowlarr:
        icon: prowlarr.png
        href: http://__MEDIA_IP__:9696
        siteMonitor: http://__MEDIA_IP__:9696
        description: Indexer manager
    - Profilarr:
        icon: mdi-format-list-bulleted
        href: http://__MEDIA_IP__:6868
        siteMonitor: http://__MEDIA_IP__:6868
        description: Profiles/quality automation for Arr apps

- Downloading:
    - qBittorrent:
        icon: qbittorrent.png
        href: http://__MEDIA_IP__:8080
        siteMonitor: http://__MEDIA_IP__:8080
        description: Downloader UI

- Monitoring:
    - Homepage:
        icon: nginx.png
        href: http://__MEDIA_IP__/
        siteMonitor: http://__MEDIA_IP__/
        description: This dashboard
    - Proxmox:
        icon: mdi-server
        href: https://__PROXMOX_IP__:8006
        siteMonitor: https://__PROXMOX_IP__:8006
        description: Hypervisor UI
    - Router:
        icon: mdi-router-wireless
        href: http://__ROUTER_IP__/
        siteMonitor: http://__ROUTER_IP__/
        description: Gateway admin
